@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
#header-box img {
  object-fit: cover;
  display: flex;
  width: 97vw;
  height: 20rem;
}
#header-box h1 {
  color: white;
  margin: 0;
  position: absolute;
  top: 10%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 40pt;
}
#header-box #logo {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  height: 5rem;
  width: 5rem;
  border: solid white;
  border-radius: 12px;
  background-color: white;
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  font-size: 22px;
}

.box-master {
  white-space: nowrap;
}
.box-master .box {
  height: 11rem;
  overflow: hidden;
}
.box-master .box input {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  transform-origin: top;
}
.box-master .box input:hover {
  transform: scale(1.1);
}
.box-master #title-tag {
  display: inline-block;
  position: relative;
  left: 2%;
  font-size: 15px;
  width: 68%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.box-master #price-tag {
  display: inline-block;
  position: relative;
  top: -4px;
  right: -5%;
  font-size: 15px;
  font-weight: 500;
  width: 20%;
  color: red;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.control {
  max-width: 1200px;
  height: 250px;
  margin: 0 auto;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-group input {
  width: 15vw;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn-subgroup p {
  color: white;
  position: relative;
  top: -40%;
  right: 0%;
  text-align: center;
  pointer-events: none;
}

.btn-group .btn:hover,
.btn-group .btn-clicked .btn {
  opacity: 0.75;
}

#search {
  width: 500px;
  height: 30px;
  outline: none;
  padding: 0 10px;
  border: 2px solid white;
  border-radius: 8px;
  font-size: 0.6rem;
  margin: 0;
  position: absolute;
  top: 20%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.sidebar {
  position: fixed;
  z-index: 1;
  background-color: #444;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
}
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  display: block;
  transition: 0.3s;
  color: black;
}
.sidebar a:hover {
  color: #f1f1f1;
}
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  z-index: 1;
  position: absolute;
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

.card {
  position: relative;
  display: inline-block;
  padding: 0%;
}
.card .img-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0%;
  z-index: 99;
}

.card:hover .img-top {
  display: inline;
}

/*# sourceMappingURL=styles.css.map */
